#coverSection {
  background: linear-gradient(to bottom right, #000080, #00BFFF);
}

.navigationLink {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.menuButton {
  border-bottom: 3px solid white;
}

#navigationLinks {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-toggler {
  ...
}

#navigationButton {
  padding: 0px;
  border: 0px;
  float: right;
}

#navigationBar {
  padding-top: 50px;
}

#coverTitle {
  font-family: 'Fira Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: white;
}

#coverDescription {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: white;
}

#coverSummary {
  max-width: 768px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#ctaTitle {
  font-family: 'Fira Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: black;
  max-width: 768px;
}

.ctaButton {
  margin: 12.5px;
}

#ctaButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#ctaContent {
  padding-top: 50px;
  padding-bottom: 50px;
}

#ctaSection {
  background-color: #EEEEEE;
}

#copyrightMark {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: black;
  text-align: center;
}

#copyrightSection {
  background-color: #EEEEEE;
  padding: 50px;
}
