#main {
  background: linear-gradient(#005dba, #0080ff);
}

#webpageNavbar {
  padding-top: 50px;
}

#navbarButton {
  float: right;
}

.navbarLink, #webpageTitle, .jumbotronTitle {
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-weight: 500;
  text-align: center;
}

.jumbotronDescription, #footer {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: white;
}

.navbarLink {
  font-size: 24px;
}

#navbarLinks {
  margin-top: 25px;
  background-color: #0080ff;
}

#webpageTitle {
  font-size: 48px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.subtitles {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: white;
  padding-bottom: 25px;
}

.jumbotronTitle {
  font-size: 36px;
  text-align: center;
}

.docButton:hover {
  text-decoration: none;
}

#footer {
  padding-bottom: 50px;
}
