@media screen and (min-width: 480px) {
  .navigationLink {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
  }

  .navigationLink:hover {
    color: #CCCCCC;
  }

  .menuButton {
    border-bottom: 3px solid white;
  }

  #navigationButton {
    padding: 0px;
    border: 0px;
    float: right;
  }

  #navigationBar {
    padding-top: 50px;
  }

  .sectionTitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: white;
  }

  .sectionDescription {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
  }

  .sectionContent {
    max-width: 768px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #coverSection {
    background-image: url("../assets/coverBackground-education.png");
    background-size: cover;
    background-position: bottom;
  }

  .shifterText {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
  }

  .shifterText:hover {
    text-decoration: none;
    color: #CCCCCC;
  }

  .shifterButton {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width: 50vw;
  }

  .shifterSection {
    background-color: #6CA700;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .sectionTitle-black {
    font-family: 'Fira Sans', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: black;
  }

  .beTitle {
    background-color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 25px;
  }


  #solutionsSection {
    background-color: #005DBA;
  }

  .documentationButton {
    margin: 12.5px;
  }

  .documentationButton:hover {
    filter: brightness(50%);
  }

  #documentationButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #copyrightMark {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-align: center;
  }

  .copyrightSection {
    background-color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 240px) and (max-width: 479px) {
  .navigationLink {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
  }

  .navigationLink:hover {
    color: #CCCCCC;
  }

  .menuButton {
    border-bottom: 3px solid black;
  }

  .navigationImage {
    height: 23px;
  }

  #navigationButton {
    padding: 0px;
    border: 0px;
    float: right;
  }

  #navigationBar {
    padding-top: 25px;
  }

  .sectionTitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: black;
    max-width: 768px;
  }

  #referencesList {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
  }

  .referencesContent {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .webpageSection {
    background-color: #EEEEEE;
  }

  .documentationButton {
    margin: 12.5px;
  }

  .documentationButton:hover {
    filter: brightness(50%);
  }

  #documentationButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #copyrightMark {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-align: center;
  }

  #copyrightSection {
    background-color: #EEEEEE;
    padding-bottom: 25px;
  }
}
