@media screen and (min-width: 595px) {
  .navigationLink, .subtitleText {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
  }

  .subtitleText {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .navigationLink:hover {
    color: #CCCCCC;
  }

  .menuButton {
    border-bottom: 3px solid black;
  }

  #navigationButton {
    padding: 0px;
    border: 0px;
    float: right;
  }

  #navigationBar {
    padding-top: 50px;
  }

  .sectionTitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: black;
    max-width: 768px;
  }

  #referencesList {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: black;
  }

  .referencesContent {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .webpageSection {
    background-color: #EEEEEE;
  }

  .documentationButton {
    margin: 12.5px;
  }

  .documentationButton:hover {
    filter: brightness(50%);
  }

  #documentationButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #copyrightMark {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-align: center;
  }

  #copyrightSection {
    background-color: #EEEEEE;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 240px) and (max-width: 594px) {
  .subtitleText {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .navigationLink {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
  }

  .navigationLink:hover {
    color: #CCCCCC;
  }

  .menuButton {
    border-bottom: 3px solid black;
  }

  .navigationImage {
    height: 23px;
  }

  #navigationButton {
    padding: 0px;
    border: 0px;
    float: right;
  }

  #navigationBar {
    padding-top: 25px;
  }

  .sectionTitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: black;
    max-width: 768px;
  }

  #referencesList {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
  }

  .referencesContent {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .webpageSection {
    background-color: #EEEEEE;
  }

  .documentationButton {
    margin: 12.5px;
  }

  .documentationButton:hover {
    filter: brightness(50%);
  }

  #documentationButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #copyrightMark {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    text-align: center;
  }

  #copyrightSection {
    background-color: #EEEEEE;
    padding-bottom: 25px;
  }
}
